.container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1.5em;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  /* text-shadow: 1px 1px 1px #000; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
}

.grid figure {
  position: relative;
  border-radius: 5px;
  max-width: 320px;
}
.grid figure::after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
right: 0;
  bottom: 0;
  widows: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}

.grid figure > img {
  widows: 100%;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  font-weight: bold;
  font-size: 2em;
}

.grid-item a {
  color: #ffffff;
  letter-spacing: 1px;
  padding: 0 .5em;
}

.empty {
  color: #ffffff;
  text-align: center;
  font-size: 2em;
  font-style: italic;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}